{% extends 'base.html.twig' %}

{% block title %}K-Swipe | Découvrir des artistes{% endblock %}

{% block body %}
<div class="app-layout">
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}

    <main class="main-content">

       
        <div class="hero-card fade-in">
            <h1 class="hero-title">
                Découvre de nouveaux artistes 🎧
            </h1>
            <p class="text-gray-400 mt-2">
                Explore les talents et groupes de la scène asiatique
            </p>
        </div>         
</div>
{% endblock %}   


 

       
       