{% extends 'base.html.twig' %}

{% block title %}K-Swipe | {{ artiste.nomScene }}{% endblock %}

{% block body %}
<div class="app-layout">
    {% include 'header.html.twig' %}
    {% include 'sidebar.html.twig' %}
        
</div>
{% endblock %}