{% extends 'base.html.twig' %}

{% block title %}KSwipe
{% endblock %}

{% block body %}
	<div class="app-layout">
		{% include 'header.html.twig' %}
		{% include 'sidebar.html.twig' %}

		{# Cette page sert à afficher le flux d'actualités combiné au script de scroll infini #}
		<main class="main-content">
			<div id="feed-container" data-next-page="2" data-total-pages="{{ pages_total }}">

				{% include 'index/_feed_items.html.twig' %}

			</div>

			<div id="loading-trigger" class="py-4 text-center" style="display: none;">
				<div class="loading-spinner">
					<span class="material-symbols-rounded fa-spin">refresh</span>
					Chargement de la suite...
				</div>
			</div>

		</main>

		<script src="{{ asset('js/infinite-scroll.js') }}"></script>

		<aside class="right-panel"></aside>
	</div>
{% endblock %}
