{% extends 'base.html.twig' %}

{% block title %}K-World | Dashboard
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link
	rel="stylesheet" href="{{ asset('CSS/Styles.css') }}">
	{# Attention à la majuscule CSS #}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
{% endblock %}

{% block body %}
	<div class="app-layout">
		{% include 'header.html.twig' %}
		{% include 'sidebar.html.twig' %}

		<main class="main-content">
			<div class="hero-card"></div>

			<div
				class="feed-container">
				{# On affiche la page 1. Elle contient le lien lazy vers la page 2, etc. #}
				{% include 'index/_feed_items.html.twig' with {'current_page': 1} %}
			</div>
		</main>

		<aside class="right-panel"></aside>
	</div>
{% endblock %}
