<header class="top-header">
    <div class="search-bar">
        <span class="material-symbols-rounded search-icon">search</span>
        <input type="text" class="search-input" placeholder="Rechercher">
    </div>

    <div class="header-actions">
        <a href="{{ path('app_post_new') }}" class="btn-add-post" title="Nouveau post">
            <span class="material-symbols-rounded">add</span>
        </a>
    </div>
</header>