<header class="top-header">
    <!-- Barre de recherche -->
    <div class="search-bar">
        <span class="material-symbols-rounded search-icon">search</span>
        <input type="text" class="search-input" placeholder="Rechercher">
    </div>
</header>